<html>
  <head>
    <title>Coaches</title>
    <script src="{{ url_for('static', filename='css/jquery.min.js') }}" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='css/socket.io.js') }}" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/coaches.css') }}">
    <script type="text/javascript" charset="utf-8">
         $(document).ready(function() {
            var socket = io();
            $('form#record').submit(function(event) {
                socket.emit('record_message', {data: 'broadcast triggered'});
                return false;
            });
            $('form#reset').submit(function(event) {
                socket.emit('reset_message', {data: 'reset triggered'});
                return false;
            });
            $('form#replay').submit(function(event) {
                socket.emit('replay_message', {data: 'replay triggered'});
                return false;
            });
            $('form#pause').submit(function(event) {
                socket.emit('pause_message', {data: 'pause triggered'});
                return false;
            });
        });
    </script>
<body>
<div class="hero">
  <nav role="navigation">
  <div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>

    <ul id="menu">
      <a href="#" target="_blank"><li>Config</li></a>
    </ul>
  </div>
</nav>
  <table class="content">
    <tr>
      <td>
      <form class="input" id="record" method="POST" action="#/">
        <input type="submit" value="RECORD">
      </form>
      </td>
    </tr>
    <tr>
      <td>
      <form class="input" id="reset" method="POST" action="#/">
        <input type="submit" value="  RESET  " value>
      </form>
      </td>
    </tr>
    <tr>
      <td>
      <form class="input" id="replay" method="POST" action="#/">
        <input type="submit" value=" REPLAY" value>
      </form>
      </td>
    </tr>
    <tr>
      <td>
      <form class="input" id="pause" method="POST" action="#/">
        <input type="submit" value="  PAUSE " value>
      </form>
      </td>
    </tr>
  </table>
</div>
